.main {

}

h2 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 1.5em;
}

a:visited, a:link {
  text-decoration: none;
  color: inherit;
}


#circle {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: lighten;
  background: radial-gradient(circle, rgba(31,42,101,0.3) 40%, rgba(20,27,65,0) 70%);
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.global-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.left-side {
  margin-left: 20%;
  width: auto;
  position: fixed;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.dynamic-text-container {
}

.following-lines {
  display: block;
  align-items: center;
  margin-bottom: 20em;
}

.element {
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.element:hover {
  transform: scale(1.05);
  font-weight: bold;
  cursor: pointer;
}

.horizontal-line {
  border: 1px solid #918EF4;
  width: 25%;
  margin-right: 10%;
  transition: all 0.5s ease-in-out;
}

.element:hover .horizontal-line {
  width: 50%;
}

.right-side {
  margin-right: 15%;
  width: 100%;
  margin-left: 50%;
  font-family: 'Ubuntu', sans-serif;
}

.about-box {
  color: white;
}

.space {
  margin-bottom: 10vh;
}

@media screen and (max-width: 768px){
  .global-container {
    margin-top: 0;
    flex-direction: column;
  }

  .left-side, .right-side {
    position: static !important;
    width: 100% !important;
    margin: 0 !important;
  }

  .left-side{
    order: 1;
  }

  .following-lines {
    margin-bottom: 0;
  }

  .right-side{
    order: 2;
  }
}

footer {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  margin-top: 10vh;
}

@media screen and (max-width: 1024px){
  .left-side {
    margin-left: 10%;
    width: auto;
    position: fixed;
    font-family: 'Oswald', sans-serif;
    color: white;
  }

  .right-side {
    margin-right: 5%;
    width: 100%;
    margin-left: 50%;
    font-family: 'Ubuntu', sans-serif;
  }
}
